@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #22C55E;
  --dark: #111827;
  --bg: #F8FAFC;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--dark);
}

button, input, select, textarea {
  font: inherit;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
